# Node.js dependencies
/node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
logs/
*.log
logs/**/*.log

# VSCode settings (if you're using VSCode)
.vscode/

# IDE configuration files
.idea/

# Optional, to ignore build directories
/dist/
build/

# Optional, to ignore any temporary files
*.tmp
